<h2 >What do you want to do?</h2>
<ul style="font-size: large">
    <li><a routerLink="/update">Update your account details</a></li>
    <li><a routerLink="/showBalance">Check your balance</a></li>
    <li><a routerLink="/transactions">View your previous transactions</a></li>
    <li><a routerLink="/deposit">Deposit money to your account</a></li>
    <li><a routerLink="/withdraw">Withdraw money from your account</a></li>
    <li><a routerLink="/fundTransfer">Fund Transfer</a></li>
    <li><a routerLink="/delete">Delete your account</a></li>
</ul>
<router-outlet></router-outlet>
