<div class="container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-heading">Delete Your Account</h3>
            </div>
            <div class="panel-body">
                <h4>Please enter your Account Number:</h4>
                <input type="number" id="accNum" name="accNum" #an/>
                <button class="btn btn-danger" (click)="onClick(an)" (click)="onClick1()">Delete</button>
            </div>
        </div>
</div>